<ng-form name="ipForm">
  <div class="container" translate-namespace="ip">
    <h2>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
      </span>
      <span translate>.headline</span>
    </h2>

    <p translate>.help</p>
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <div class="form-group has-feedback"
          ng-class="{
            'has-success': (ipForm.ipv6Prefix | fieldSuccess),
            'has-error': (ipForm.ipv6Prefix | fieldError),
          }"
        >
          <label for="ipv6Prefix" class="col-md-3 control-label" translate>
            .v6Prefix.label
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control"
              name="ipv6Prefix" id="ipv6Prefix"
              placeholder="{{'ip.v6Prefix.placeholder' | translate}}"
              data-ng-model="$ctrl.newIp.v6Prefix"
              data-ng-model-options="{ debounce: 500 }"
              data-ng-required="!$ctrl.register"
              data-ip-prefix-min-length="64"
              data-ip-prefix-max-length="64"
              data-ip-version="6"
              data-ip-address
            >
            <span class="fa form-control-feedback"
              ng-class="{
                'fa-check': (ipForm.ipv6Prefix | fieldSuccess),
                'fa-times': (ipForm.ipv6Prefix | fieldError),
              }"
            ></span>
            <div class="help-block">
              <div ng-messages="ipForm.ipv6Prefix | fieldError">
                <div ng-message="required">
                  <span translate>.error.required</span>
                </div>
                <div ng-message="ipAddress">
                  <span translate>.v6Prefix.error.ipAddress</span>
                </div>
                <div ng-message="ipPrefixMaxLength">
                  <span translate>.v6Prefix.error.ipPrefixLength</span>
                </div>
              <div ng-message="ipPrefixMinLength">
                  <span translate>.v6Prefix.error.ipPrefixLength</span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col-md-offset-3 col-md-9">
              <div class="form-group has-feedback"
                   ng-class="{
            'has-success': (ipForm.ipv6Prefix | fieldSuccess),
            'has-error': (ipForm.ipv6Prefix | fieldError),
          }"
              >
                  <label for="ipv4Prefix" class="col-md-3 control-label" translate>
                      .v4Prefix.label
                  </label>
                  <div class="col-md-9">
                      <input type="text" class="form-control"
                             name="ipv4Prefix" id="ipv4Prefix"
                             placeholder="{{'ip.v4Prefix.placeholder' | translate}}"
                             data-ng-model="$ctrl.newIp.v4Prefix"
                             data-ng-model-options="{ debounce: 500 }"
                             data-ip-address data-ip-version="4"
                             data-ip-prefix-max-length="24"
                             data-ip-prefix-min-length="24"
                      >
                      <span class="fa form-control-feedback"
                            ng-class="{
                'fa-check': (ipForm.ipv4Prefix | fieldSuccess),
                'fa-times': (ipForm.ipv4Prefix | fieldError),
              }"
                      ></span>
                      <div class="help-block">
                          <div ng-messages="ipForm.ipv4Prefix | fieldError">
                              <div ng-message="required">
                                  <span translate>.error.required</span>
                              </div>
                              <div ng-message="ipAddress">
                                  <span translate>.v4Prefix.error.ipAddress</span>
                              </div>
                              <div ng-message="ipPrefixMaxLength">
                                  <span translate>.v4Prefix.error.ipPrefixLength</span>
                              </div>
                              <div ng-message="ipPrefixMinLength">
                                  <span translate>.v4Prefix.error.ipPrefixLength</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</ng-form>
